{% extends "base.html" %}

{% block content %}
    <main>
        <div>
            <h1>My Tasks</h1>
            {% if tasks assigned %}
                <table>
                    <thread>
                    <th>Name</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                    <td>{{ value|yesno:"yes,no" }}</td>
                {% else %}
                    <p>This project has no tasks</p>
                    </thread>
                </table>
            </div>
        </main>
    {% endblock content %}
