{% extends "base.html" %}

{% block content %}
    <main>
        <div>
            <h1>Project Alpha</h1>
            <p>My first project</p>
            <h2>Tasks</h2>
            {% if project has  task %}
                <table>
                    <thread>
                    <tr>Name</tr>
                    <td>Do feature 11</td>
                    <tr>Assignee</tr>
                    <td>curtis</td>
                    <tr>Start date</tr>
                    <td>Oct. 18, 2021 6:23 p.m.</td>
                    <tr>Due date</tr>
                    <td>Oct. 22, 2021 6:23 p.m.</td>
                    <tr>Is completed</tr>
                    <td>{{ value|yesno:"yes,no" }}</td>
                {% else %}
                    <p>This project has no tasks</p>
                    </thread>
                </table>
            </div>
        </main>
    {% endblock content %}
