{% extends "base.html" %}

{% block content %}
    <main>
        <div>
            <h1>My Projects</h1>
            {% if not projects %}
                <p>You are not assigned to any projects</p>
            {% else %}
                <table>
                    <thread>
                    <tr>
                        <th>Name</th>
                        <th>Number of tasks</th>
                    </tr>
                    </thread>
                    <ul>
                        {% for projects in project_list.all %}
                            <tr>
                                <td>{{ project.name }}</td>
                                <td>{{ project.number.of.tasks }}</td>
                                <td>{{ project.task.all|length }}</td>
                            </tr>
                        {% endfor %}
                    </ul>
                </table>
            </div>
        </main>
    {% endblock content %}
